/*!
 *    Accordions Tabs in Jade/Sass/CoffeeScript
 *    Simple Accordion Tabs without any Framework. Inspired to DevMarketer Accordion Tabs. Original here: https://github.com/DevMarketer/NoFrameworks
 *    @author: Sir Xiradorn - http://xiradorn.it
 *    @original_author: Jacurtis - https://github.com/jacurtis
 */
.accordion-tab-title {
  width: 100%;
  padding: 15px 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: whitesmoke;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

.accordion-tab-title:hover {
  background: gainsboro;
}

.accordion-tab-title::after {
  font-family: "FontAwesome";
  content: "\f055";
  float: right;
}

.accordion-tab-title.is-open {
  background: gainsboro;
}

.accordion-tab-title.is-open::after {
  content: "\f056";
}

.accordion-tab-content {
  max-height: 0;
  padding: 0px 20px;
  overflow: hidden;
  border: 1px solid whitesmoke;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.accordion-tab-content .row {
  max-height: 350px;
  overflow-y: auto;
}
