doctype html
html(lang=en)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
        
        meta(name="author", content="Sir Xiradorn")
        meta(name="description", content="Simple Accordion Tabs without no Frameworks in Jade/Sass/CoffeeScript")
        
        title Simple Accordion Tabs in Jade/Sass/CoffeeScript | Sir Xiradorn
        
        link(rel="stylesheet", type="text/css", href="assets/css/xzen.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        
        link(rel="stylesheet", type="text/css", href="assets/css/app.css")
    body
        .container
            .row
                .col-md-12
                    h1 Accordion Tabs
        
            .row
                .col-md-12
                    include accordion/_accordion.pug
                    
            .row
                .col-md-12
                    p.text-center Copiright by Sir Xiradorn - 2017
        
        script(type="text/javascript", src="./assets/js/app.js")
